### Python ###

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv/
venv/
ENV/

# Text backup files
*.bak

#Database
*.sqlite3

*.pyc
local_settings.py

#git
../.idea/'.idea'