{% load static %}
<footer>
    <div class="container">
        <div class="row justified-start">
            <div class="col-sm-4 text-left">
                <ul class="address">
                    <span>Адрес</span>
                    <li>
                        <p><img class="icons-footer" src="{% static "svg/map.svg" %}"/>
                            Проспект веры, дом надежды, офис любви</p>
                    </li>

                </ul>
            </div>
            <div class="col-sm-4 text-left">
                <ul class="contact">
                    <span>Контакты</span>
                    <li>
                        <p><img class="icons-footer" src="{% static "svg/phone.svg" %}"/>+90 1234 56789</p>
                    </li>
                    <li>
                        <p><img class="icons-footer" src="{% static "svg/mail.svg" %}"/>info@gmail.com</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 text-left">
                <ul class="social">
                    <span>Соц сети</span>
                    <li>
                        <a href="#"><img class="icons-footer" src="{% static "svg/facebook.svg" %}"/>Facebook</a>
                    </li>
                    <li>
                        <a href="#"><img class="icons-footer" src="{% static "svg/instagram.svg" %}"/>Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
